<div class="layui-layout layui-layout-admin" style="padding-left: 40px;margin-top: 20px;">


    <form class="layui-form" action="" method="post" >
        <div class="layui-form-item">
            <label class="layui-form-label">商品栏目</label>
            <div class="layui-input-inline">
                <select name="cate_id">
                {{range $k,$value := .cate_list}}
                    <option value="{{$value.Id}}">{{$value.Name}}</option>
                {{end}}
                </select>
            </div>

            <div class="layui-form-mid layui-word-aux">*</div>
        </div>



        <div class="layui-form-item">
            <label class="layui-form-label">商品名称</label>
            <div class="layui-input-inline">
                <input type="text" name="name" id="name" lay-verify="required" autocomplete="off" placeholder="商品名称" class="layui-input" value="{{.info.Name}}">
            </div>
            <div class="layui-form-mid layui-word-aux">*</div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">商品价格</label>
            <div class="layui-input-inline">
                <input type="text" name="price" id="price" lay-verify="required" autocomplete="off" placeholder="商品价格" class="layui-input" value="{{.info.Name}}">
            </div>
            <div class="layui-form-mid layui-word-aux">*</div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">商品描述</label>
            <div class="layui-input-inline">
                <input type="text" name="desc" lay-verify="required" autocomplete="off" placeholder="商品描述" class="layui-input" value="{{.info.Name}}">
            </div>
            <div class="layui-form-mid layui-word-aux">*</div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">商品库存</label>
            <div class="layui-input-inline">
                <input type="text" name="inventory"  lay-verify="required" autocomplete="off" placeholder="商品库存" class="layui-input" value="{{.info.Name}}">
            </div>
            <div class="layui-form-mid layui-word-aux">*</div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">商品图片</label>
            <div class="layui-input-inline">
                <img class="goods_img" src="{{.info.Img}}" style="width: 200px;height: 200px">
                <input class="input_goods_img" name="img" type="hidden" value="{{.info.Img}}">
                <button type="button" class="layui-btn" id="test1">
                    <i class="layui-icon">&#xe67c;</i>上传图片
                </button>
            </div>
            <div class="layui-form-mid layui-word-aux">*</div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="sub">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>

    </form>
</div>
<script>
    var $;
    layui.config({
        base : "js/"
    }).use(['form','element','layer','jquery','upload'],function(){
        var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
        var $ = layui.jquery;

        form.on('submit(sub)', function(data){
            var form_data = $("form").serialize();
            $.post('{{urlfor "GoodsController.AjaxSave"}}', form_data, function (out) {
                if (out.status == 0) {
                    layer.msg("操作成功",{icon: 1},function () {
                        window.location.href='{{urlfor "GoodsController.List"}}'
                    })
                } else {
                    layer.msg(out.message)
                }
            }, "json");
            return false;
        });


        var upload = layui.upload;

        //执行实例
        var uploadInst = upload.render({
            elem: '#test1' //绑定元素
            ,url: '{{urlfor "UploadController.Handle"}}' //上传接口
            ,field:"file"
            ,done: function(res){
                //上传完毕回调
                if ( res.status == 0 ) {
                    $(".goods_img").attr("src",res.message);
                    $(".input_goods_img").attr("value",res.message);

                }
            }
            ,error: function(){
                //请求异常回调
                layer.msg("上传失败");
            }
        });

        //但是，如果你的HTML是动态生成的，自动渲染就会失效
        //因此你需要在相应的地方，执行下述方法来手动渲染，跟这类似的还有 element.init();
        form.render();
    });
</script>